@font-face{
    font-family:'CircularStd';
    src: url(./woff/CircularStd-Black.woff2)format('woff2');
    src: url(./woff/CircularStd-Bold.woff) format('woff');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.element-invisible {
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
ul,ol{
    list-style: none;
}
a{
    display: block;
}
img{
 max-width: 100%;
 height: auto;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.container-fluid{
    width: 1280px;
    margin: 0 auto  ;
}
body{
  font-family: 'CircularStd', sans-serif;
}
.wrapper-top{
    position: relative;
    background-image: url("./img/BG\ \(3\).png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}
.navbar .container-fluid{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-item{
    margin: 0 20px;
}
.navbar{
    padding: 15px;
}
.nav-link{
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: color 0.3s;
}
.navbar-title{
    font-size: 24px;
    color: white;
}
.nav-right-link{
    background-color: #F04037;
    padding: 14px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    font-family:sans-serif;
    transition: box-shadow 0.3s;
}
.nav-right-link:hover{
    box-shadow: 0 0 10px rgb(170, 12, 12);
}
.nav-link:hover{
    color: #F04037;
}
.dropdown{
    position: relative;
    display: flex;
    align-items: center;

}
.dropdown-img{
    width: 17px;
    margin-left: 13px;  
}
.first-nav-link{
    color: #F04037;
   
}
.dropdown:hover .dropdown-img{
    transform: rotate(-90deg);
}
.dropdown{
    position: relative;
    transition: display 0.4s;
}
.dropdown-list{
    display: none;
    position: absolute;
    top: 20px;
    width: 300%;
    border: 1px solid #EAE9F2;
    background-color: white;
    padding: 18px 84px 20px 28px;
    border-top: 3px solid #0c0fca;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 2;
}
.dropdown:hover .dropdown-list{
    display: block;
}
.dropdown-item{
    
    padding: 10px 0;
}
.dropdown-link{
    text-decoration: none;
    color: rgb(109, 100, 100);
}
.dropdown-link:hover{
    color: red;
    font-weight: 500;
    
}
.wrapper-center{
    padding:20px;
}
.wrapper-center .container{
     display: flex;
     align-content: center;
     justify-content: space-between;
    margin-top:100px;
}
.wrapper-content{
    width: 50%;
}


.wrapper-big-photo{
    width: 200%;
}
.wrapper-content-title{
    font-size: 80px;
    color: white;

}
.wrapper-content-text{
    font-family: sans-serif;
    font-size: 21px;
    color:rgb(254, 254, 255,0.6);
    margin: 30px 0 30px 0;
    width: 90%;
}
.wrapper-content-link{
    text-decoration: none;
    color: white;
    display: inline-block;
    font-family: sans-serif;
    border-radius: 5px;
    padding:17px 30px ;
    background-color: #F0544C;
}
.wrapper-content-link:hover{
    box-shadow: 0 0 10px rgb(226, 5, 5);
}
.wrapper-content-slog{
    color: rgb(255, 255, 255,0.7);
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 15px;
}
.sidebar-list{
    padding:100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar-title{
    font-size: 24px;
    color: #19191B;
    margin: 40px 0 10px 0;
}
.sidebar-text{
    font-size :17px;
    color: #696871;
}
.sidebar-item{
    font-family: sans-serif;
    width: 29%;
    line-height: 1.5;
}
.sidebar-img{
    transition: transform 0.3s;
}
.sidebar-img:hover{
    transform: scale(1.3);
}
.border-line{
    border: 1px solid #EAE9F2;
    margin: 10px 0 30px 0 ;
}
.sidebar-advertisement-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.sidebar-advertisement-image{
    filter: grayscale(100%);
    transition: filter 0.4s;
}
.sidebar-advertisement-image:hover{
    filter: grayscale(0);
}
.page{
    padding:200px 0;
    background-image: 
                        url("./img/Image\ \(2\).png");
    background-repeat: no-repeat;
    background-size: contain ;
    background-position: center right;
    background-color: #F7F7FB;
}
.page-title{
    font-size: 60px;
    color: inherit;
}
.page-text{
    font-size: 21px;
    color: #696871;
    line-height: 1.6;
    margin: 30px 0 40px 0;
}
.page-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.page-item{
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 15px;
}

.page-box{
    width: 52%;
}
.page-small-slog{
    font-size: 21px;
    font-family: sans-serif;
    color: #19191B;
    margin-left: 7px;
}
.aside{
    padding:150px 0;
}
.aside .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aside-photo{
    width: 45%;
}
.aside-content{
    width: 50%;
    position: relative;
    bottom: 60px;
}
.aside-title{
    font-size: 60px;
    color: inherit;
}
.aside-text{
    font-size: 21px;
    color: #696871;
    margin: 20px 0 50px 0;
    line-height: 1.5    ;
}
.aside-item{
    display: flex;
    margin-bottom: 20px;

}
.inner-aside{
    margin-left: 20px;
}
.inner-aside-title{
    font-size: 21px;
    color:inherit;
}
.inner-aside-text{
    font-size: 17px;
    color: #696871;
    margin-top: 7px;
    width: 75%;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 2;
}
.aside-left-image{
    width: 39px;
    height: 39px;
    transition: transform 0.4s;
}
.aside-left-image:hover{
    transform: scale(1.3);
}
.widget{
    background-color: #F7F7FB;
    padding:70px;
}
.widget-title{
    font-size: 60px;
    color: inherit;
    text-align: center;
}
.widget-text{
    font-size: 21px;
    color: #696871;
    text-align: center;
    margin:10px 0 40px 0;
}
.widget-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.widget-photo{
    width: 45%;
    margin-right: 0px;
}
.widget-content{
    width: 55%;
}


.widget-box .container{
    width: 78%;
    padding:7px;
    background-color: white;
    border-radius: 15px;
    position: relative;


}
.widget-right-image{
    position: absolute;
    left: 96%;
    top: 45%;
}
.widget-content-image{
    position: absolute;
}
.widget-list{
    margin-right: 20px;
}
.widget-content-text{
    font-size: 21px;
    color: inherit;
    font-family: sans-serif;
    line-height: 1.6;
    margin: 20px 7px;
    text-align: center;

}
.widget-img{
    width: 100%;
    text-align: center;
}
.widget-content-name{
  
    color: inherit;
    font-size: 21px;
    text-align: center;
    
}
.widget-content-slog{
    text-align: center;
    color: #696871;
    font-size: 17px;
    margin-top: 5px;
}
.inner-widget-image{
    margin: 0 0 60px 0;
    text-align: center;
    margin-right: 12px  ;
}
.widget-photo{
    background-image:url("./img/IMG\ \(3\).png") ;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 400px;
    height: 400px;
}
.widget-left-icon{
    position: absolute;
    border-radius: 100%;
    border: 1px solid #5454D4;
    background-color: #5454D4;
    left: 96%;
    top: 45%;
    transition: transform 0.3s;
}
.widget-left-icon:hover{
    transform: scale(1.3);
}
.widget-right-icon{
    position:absolute;
    border-radius: 100%;
    border:1px solid white; 
    background-color: white;   
    bottom: 37%; 
    left:-30px;
    transition: transform 0.3s;
}
.widget-right-icon:hover{
    transform:scale(1.3);
}
.widget-proportion-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
}
.widget-proportion-item{
    width: 29%;
}
.widget-proportion-title{
    font-size: 60px;
    color: #5454D4;
    text-align: center;
    transition: transform 0.4s;
}
.widget-proportion-title:hover{
    transform: scale(1.5);
}
.widget-proportion-text{
    font-size: 21px;
    color: #696871;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
    line-height: 1.5;
}
.border-line2{
    border: 1px solid #eaeaf3;
    margin: 100px 0 ;
}
.holder-header{
    background-image: linear-gradient(#F7F7FB 35% ,#19191B 20%, #19191B 30%);
    
}

.holder-header-title{
    font-size: 60px;
    color: inherit;
    text-align: center;
}
.holder-header-text{
    text-align: center;
    margin-top: 10px;
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 21px;
    color: #696871;
}
.toggle:checked + .box-toggle{
    background-color: rgb(63, 27, 146);
}
.toggle:checked +.box-toggle{
    background-color: rgb(187, 30, 30);
    
    right: 0;
    transform: translate(0);
}

.box-toggle{
    position: absolute;
    width:30px ;
    height: 30px;
    background-color:rgb(201, 192, 192);
    transition: 0.4s;
    right: 100%;
    transform :translateX(100%);
    border-radius: 50px;
  
}
.checkbox-wrap{
    position: relative;
    display:inline-block;
    width: 70px;
    height: 30px;
    background-color: #EAE9F2;
    border-radius: 50px;
  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
  }
  
.inner-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.inner-label{
    display: flex;
    align-items: center;
}
.holder-text{
    font-size: 17px;
    color: #696871;
    margin: 0 15px;
}
.holder-slog{
    text-decoration: none;
    padding: 10px 25px;
    background-color: #F04037;
    color: white;
    border-radius: 10px;
    transition: box-shadow 0.4s;
}
.holder-slog:hover{
    box-shadow: 0 0 10px rgb(211, 22, 22);
}
.holder-center-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}
.holder-center-item{
    width: 48%;
    text-align: center;
    padding: 34px 0 0 0;
    background-color: white;
    border-radius: 20px;
    transition: box-shadow 0.3s;
}
.holder-center-item:hover{
    box-shadow: 0 0 10px rgb(124, 118, 118);
}
.holder-center-small-list{
    text-align: justify;
}
.holder-center-small-item{
    display: flex;
    align-items: center;
    margin: 20px 0;
    margin-left: 110px;
    }
.holder-center-starter{
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    color: #5454D4;
}
.holder-small-number{
    font-size: 80px;
}
.holder-center-title{
    text-align: center;
    
}
.holder-center-user{
    color: grey;
    user-select: none;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
}
.holder-center-small-item-text{
    margin-left: 10px;
    font-size: 23px;
    font-family: sans-serif;
    line-height: 40px;
}
.holder-center-link{
    background-color: #5454D4;
    text-decoration: none;
    color: white;
    font-size: 21px;
    padding: 18px ;
    font-family: sans-serif;
    margin-top: 50px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius: 20px;
    transition: box-shadow 0.3s;
}
.holder-center-link:hover{
    box-shadow: 0 0 10px rgb(0, 0, 248);
}
.features-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 80px;
}
.features-item{
    width: 40%;
    display: flex;
    align-items: center;
}
.features-image{
    transition: transform 0.4s;
}
.features-image:hover{
 transform: scale(1.3);
}
.features-text{
    margin-left: 20px;
    margin-top: 77px;
}
.features-title{
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
}
.features-slog{
    font-size:17px;
    color: rgb(255, 255, 255,0.7);
    font-family:sans-serif;
    line-height:1.5;
}
.benefits{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 120px;
}
.benefits-title{
    font-size:60px;
    color: white;
}
.benefits-text{
    font-size: 21px;
    color: #696871;
    margin: 20px 0 30px 0;
}
.benefits-link{
    text-decoration: none;
    color: white;
    display: inline-block;
    border-radius: 6px;
    padding: 15px 30px;
    background-color: #F0544C;
    transition: transform 0.4s;
}
.benefits-link:hover{
    transform: scale(1.1);
}
.benefits-slog{
    font-size:15px;
    color: rgb(255, 255, 255,0.7);
    margin-top: 15px;
    padding-bottom: 100px;
}
.footer{
    background-color: white;
    padding: 10px;
}
.footer-list{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}
.footer-main-text{
    width: 100%;
    margin: 20px 0;
}
.footer-item{
    width: 20%;
}
.footer-item-first{
    margin-left: 70px;
}
.footer-main-title{
    font-size: 24px;
    color: inherit;
}
.footer-item-two{
    margin-left: 100px;
}
.footer-main-text{
    font-size: 16px;
    color: #696871;
    line-height: 1.7;
}
.footer-main-list{
    display: flex;
    align-items: center;
}
.footer-main-item{
    padding: 9px;
    border-radius: 0%; 
    background-color: #696871;
    border-radius: 50%;
    margin: 0 7px 0 0 ;
}
.footer-main-icon{
    color: white;
}
.footer-link{
    text-decoration: none;
    color: inherit;
    margin: 15px 0;
    font-family: sans-serif;
    transition: 0.3s;
}
.third{
    color: #5454D4;
}
.footer-link:hover{
    text-decoration: underline;
}
